@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.logo {
  height: 80px;
  padding-left: 30px;
  position: relative;
  background: #fff;
}

.navstyle {
  font-size: 15px;
  font-family: myriad-pro, sans-serif;
  color: #1e3233;
  font-weight: 600;
  font-style: normal;
}

.hello {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.hello2 {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #919191;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.slides {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.sign_margin {
  margin-bottom: 5px;
}

.helpbox1 {
  border-radius: 8px;
  background: #edf8f2;
  padding: 3px;
  min-width: 130px;
  height: 50px;
  margin: 3px;
}

.helprb {
  border-radius: 8px;
  background: #edf8f2;
  padding: 3px;
  min-width: 210px;
  height: 50px;
  margin: 3px;
}

.icons {
  float: left;
  margin: 1px 0 2px 0px;
}

.iconstxt {
  float: right;
  color: #5c6b68;
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica,  sans-serif;
  padding: 7px 0px 0px 12px;
  margin: 0 0px 0 0px;
  text-align: center;
}

.boxes {
  border-radius: 8px;
  background: #006776;
  padding: 3px;
  width: 358px;
  height: 290px;
  margin: 6px;
}

.boxes1 {
  border-radius: 8px;
  background: #a8d4dd;
  padding: 3px;
  width: 358px;
  height: 290px;
  margin: 6px;
}

.heads {
  color: #fff;
  padding-top: 12px;
  text-align: center;
  font-size: 20px;
}

.heads1 {
  color: #0f3536;
  padding-top: 12px;
  padding-left: 8px;
  font-size: 20px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.imgbox {
  width: 40%;
  margin-top: 60px;
  float: left;
}

.imgbox {
  width: 40%;
  margin-top: 20px;
  float: left;
}

.imgboxcontent {
  width: 50%;
  float: right;
  padding-top: 8px;
  color: white;
  height: 200px;
  font-size: 15px;
}

.bttp {
  margin-top: 150px;
}

.imgboxcontent1 {
  width: 45%;
  float: right;
  padding-top: 20px;
  color: white;
  height: 200px;
}

.sa {
  width: 100%;
  height: 190px;
  background-image: url("images/medbg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.sa3 {
  width: 100%;
  height: 110px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #ff945c;
  background-repeat: no-repeat;
  background-size: contain;
}

.sacont {
  width: 100%;
  border-style: solid;
  border-color: #f2ece9;
}

.saheads {
  color: black;
  padding-top: 9px;
  padding-left: 8px;
  font-size: 21px;
  text-align: center;
}

.parastyle {
  padding: 0px 10px 5px 40px;
  font-size: 13px;
  text-align: justify;
  font-weight: 600;
  color: #adabaa;
}

.elabpstyle {
  font-size: 13px;
  text-align: justify;
  font-weight: 500;
  color: #818294;
  width: 90%;
  font-family: 'Poppins', sans-serif;
}

.elabpadding {
  padding-top: 3%;
}

.boxes3 {
  border-radius: 8px;
  padding: 3px;
  width: 358px;
  height: 290px;
  margin: 6px;
}

.boxfull {
  border-radius: 8px;
  width: 97%;
  height: 150px;
  background-color: #eff1fe;
  margin-top: 20px;
  padding-left: 10px;
}

.rewbg {
  margin-top: 38px;
  border-radius: 8px;
  background-color: #eff1fe;
}

.rewbg2 {
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 30px;
  padding-left: 3%;
  height: auto;
}

.rewhead {
  padding-top: 5%;
  text-align: center;
}

.boxfull2 {
  width: 100%;
  height: 150px;
  background-color: #eff1fe;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.hryhealth {
  font-weight: 600;
  font-size: 13px;
  color: #979797;
  font-family: 'Poppins', sans-serif;
}

.hrybox1 {
  border-radius: 8px;
  padding: 3px;
  width: 250px;
  height: 229px;
  margin: 6px;
  background-color: #0fb050;
}

.hrybox2 {
  border-radius: 8px;
  padding: 3px;
  width: 250px;
  height: 229px;
  margin: 6px;
  background-color: white;
}

.hedstyle {
  color: white;
  font-weight: 600;
  padding: 20px 0px 0px 25px;
  font-size: 20px;
}

.hedstyle2 {
  color: #252323;
  font-weight: 600;
  padding: 20px 0px 0px 25px;
  font-size: 20px;
}

.hedp {
  color: white;
  font-size: 16px;
  padding-left: 10px;
}

.hedp2 {
  color: #aaaaaa;
  font-size: 16px;
  padding-left: 10px;
}

.kow {
  padding-left: 20px;
}

.bgshape {
  width: 100%;
  height: 97px;
}

.padds {
  padding-bottom: 50px;
}

.passleft {
  padding-left: 20%;
  padding-bottom: 50px;
}

.paddtop {
  padding-top: 50px;
}

.fonw {
  font-weight: 600;
  color: #ada9a9;
}

.notmember {
  padding-left: 20%;
  padding-bottom: 20px;
  font-size: 18px;
}

.ourservice {
  color: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 24px;
  font-weight: 600;
}

.know {
  font-size: 13px;
  color: #fff;
  padding-left: 5px;
  list-style: none;
}

.logbutton {
  font-size: 15px;
  font-weight: 500;
}

.knowgreen {
  font-size: 13px;
  color: #3e965a;
  padding-left: 5px;
}

.ulstyle {
  list-style: none;
  font-weight: 600;
  line-height: 180%;
  font-family: Arial, Helvetica, sans-serif;
}

.listy {
  color: black;
}

.copy {
  font-size: 12px;
  color: black;
}

.ulstyle1 {
  list-style: none;
  font-size: 14px;
  line-height: 180%;
  font-weight: 500;
}

.bxcon {
  padding-left: 100px;
  margin-top: 20px;
}

.pbutt {
  padding-left: 25%;
}

.elaboxsize {
  width: 99%;
}

.col-md-3-5 {
  width: 50,16667%;
}

/* Login page */
.aligcenter {
  background-color: #fff;
  margin-top: 8%;
}

.loghead {
  text-align: center;
  padding-top: 10%;
}

.username {
  font-size: 16px;
  font-weight: 600;
}

.forgotpasss {
  color: #388e5f;
  text-align: center;
  padding-top: 10px;
}

.donthave {
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
}

.registerspan {
  color: #28ac56;
}

/* Register page */
.create {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 10%;
}

.cssdottedborder {
  width: 100px;
  height: 90px;
  background-color: #e3f1e9;
  border-radius: 50%;
  border: 1px dashed #0baf4e;
  -webkit-box-shadow: 0 0 0 1px #e3f1e9;
          box-shadow: 0 0 0 1px #e3f1e9;
  margin-left: 35%;
  margin-top: 15%;
}

.icolor {
  color: #04b34c;
  margin: 20% 0% 0% 35%;
}

.upload {
  margin-left: 30%;
  margin-top: 5%;
}

.regiserlabel {
  font-size: 16px;
  font-weight: 400;
}

.termsandcond {
  font-size: 13px;
  color: #979797;
  font-weight: 600;
}

.termsandcond2 {
  font-size: 16px;
  color: #292727;
  font-weight: 400;
}

.buttonmargin {
  margin-bottom: 15%;
}

/****upload priscription***/
.uploadtitle {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 8%;
}

.uploadrescreptin {
  background-color: #edfef4;
  padding: 10% 0% 10% 0%;
}

.uloadbutt {
  position: relative;
  overflow: hidden;
}

.pageextend {
  margin-bottom: 40%;
}

.upstyle {
  color: #2b9b60;
  text-align: center;
  margin-left: 39%;
  font-weight: 500;
}

.createuloadinput {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.cd-breadcrumb, .cd-multi-steps {
  width: 98%;
  max-width: 1000px;
  padding: 12px 1em;
  margin: 2em auto;
  background-color: #f7f7f7;
  border-radius: .25em;
  font-size: 13px;
  font-weight: 500;
  color: #cecbcb;
}

.cd-breadcrumb::after, .cd-multi-steps::after {
  clear: both;
  content: "";
  display: table;
}

.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  margin: 0.5em 0;
}

.cd-breadcrumb li span {
  color: #000000;
}

.cd-breadcrumb li::after, .cd-multi-steps li::after {
  /* this is the separator between items */
  display: inline-block;
  content: '\00bb';
  margin: 0 .6em;
  color: #959fa5;
}

.cd-breadcrumb li:last-of-type::after, .cd-multi-steps li:last-of-type::after {
  /* hide separator after the last item */
  display: none;
}

.cd-breadcrumb li > *, .cd-multi-steps li > * {
  /* single step */
  display: inline-block;
  font-size: 14px;
  color: #2c3f4c;
}

.cd-breadcrumb.custom-separator li::after, .cd-multi-steps.custom-separator li::after {
  /* replace the default separator with a custom icon */
  content: '';
  height: 16px;
  width: 16px;
  background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-separator.svg) no-repeat center center;
  vertical-align: middle;
}

.cd-breadcrumb.custom-icons li > *::before, .cd-multi-steps.custom-icons li > *::before {
  /* add a custom icon before each item */
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: .4em;
  margin-top: -2px;
  vertical-align: middle;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(2) > *::before {
  /* change custom icon using image sprites */
  background-position: -20px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(3) > *::before {
  background-position: -40px 0;
}

.cd-breadcrumb.custom-icons li:not(.current):nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li:not(.current):nth-of-type(4) > *::before {
  background-position: -60px 0;
}

.cd-breadcrumb.custom-icons li.current:first-of-type > *::before, .cd-multi-steps.custom-icons li.current:first-of-type > *::before {
  /* change custom icon for the current item */
  background-position: 0 -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(2) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(2) > *::before {
  background-position: -20px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(3) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(3) > *::before {
  background-position: -40px -20px;
}

.cd-breadcrumb.custom-icons li.current:nth-of-type(4) > *::before, .cd-multi-steps.custom-icons li.current:nth-of-type(4) > *::before {
  background-position: -60px -20px;
}

@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cd-multi-steps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    font-size: 14px;
    color: #b7b7b7;
  }
}

.navmargin {
  margin-bottom: 20px;
}

.marginazdiagonostc {
  margin-left: 7%;
}

.marginazdiagonhead {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.star {
  color: #ffc205;
}

.starate {
  margin-left: 4px;
  font-weight: 500;
}

.review {
  margin-left: 3px;
}

.lovemargin {
  margin-left: 5%;
}

.lovemargin a {
  color: #000000;
}

.chekuprate {
  background-color: #fff;
  border-radius: 15px;
  min-width: 245px;
  margin: 10px;
  padding-top: 3%;
}

.chekuprateright {
  background-color: #fff;
  border-radius: 15px;
  min-width: 245px;
  margin: 8px;
  padding-top: 3%;
}

.dotdv {
  padding-top: 5%;
  width: 25px;
  float: left;
}

.dots {
  height: 15px;
  width: 15px;
  background-color: #0cae4b;
  border-radius: 50%;
  display: inline-block;
}

.dotright {
  height: 15px;
  width: 15px;
  background-color: #0cae4b;
  border-radius: 50%;
  display: inline-block;
}

.cheaktitle {
  margin-bottom: 5px;
  margin-left: 5px;
  padding-top: 10px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.pricestyle {
  margin-left: 20px;
  font-weight: 600;
  margin-bottom: 5%;
}

.viewdetails {
  color: #a6a6a6;
  margin-left: 20px;
  font-size: 14px;
  margin-bottom: 5%;
}

.totalprizbox {
  margin-top: 2%;
  color: #8e8e8e;
  font-size: 15px;
  font-weight: 500;
}

.totalprize {
  font-weight: 500;
  font-size: 18px;
  color: #2e2d2d;
}

.elabtest {
  margin-top: 2%;
}

.pagetentmargin {
  margin-bottom: 10%;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .floatleft {
    float: left;
    width: 92%;
  }
}
/*# sourceMappingURL=style.css.map */