//
// authentication.scss
//

// authentication home icon
.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}

.authentication-bg {
    background-color: #f7f7f7;
    .auth-logo {
        .logo {
            margin: 0px auto;
        }
    }

    .card {
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
        border: 1px solid #dadce0;
        border-radius: 10px;
    }

    .text-primary {
        color: #0b2325 !important;
        font-weight: 700;
        font-size: 22px;
    }
}

// signin card title

.signin-other-title {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        right: 0;
        background-color: $border-color;
        top: 10px;
    }

    .title {
        display: inline-block;
        position: relative;
        z-index: 9;
        background-color: $card-bg;
        padding: 2px 16px;
    }
}

// auth carousel

.auth-carousel {
    &.owl-theme {
        .owl-dots {
            .owl-dot {
                span {
                    background-color: $card-bg;
                }
                &.active {
                    span {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}
